<div class="jumbotron">

  <%= render "timer_nav" %>
  <div id="pomodoro-container">
    <div id="pomodoro-work-timer" class="pomodoro-timer-container">
      <%= min_for_displaying @pomodoro_default_settings[:pomodoro_time] %>
    </div>
    <div class="text-center">
      <button class="btn btn-success" id="start-pomodoro-timer">Start</button>
      <button class="btn btn-warning is-hidden", id="pause-pomodoro-timer">Pause</button>
      <button class="btn btn-warning is-hidden" id="resume-pomodoro-timer">Resume</button>
      <button class="btn btn-danger is-hidden" id="destroy-pomodoro-timer">Reset</button>
    </div>
  </div><!-- pomodoro-container end -->

  <div id="short-break-container" class="is-hidden">
    <div id="short-break-timer" class="pomodoro-timer-container">
      <%= min_for_displaying @pomodoro_default_settings[:short_break] %>
    </div>
    <div class="text-center">
      <button class="btn btn-success start-pomodoro-break-timer"
              data-min="<%= min_for_timer @pomodoro_default_settings[:short_break] %>"
              data-type="short"
              id="start-pomodoro-short-break-timer">
              Start
      </button>
      <button class="btn btn-warning is-hidden" id="pause-pomodoro-short-break-timer">Pause</button>
      <button class="btn btn-warning is-hidden" id="resume-pomodoro-short-break-timer">Resume</button>
      <button class="btn btn-danger is-hidden" id="destroy-pomodoro-short-break-timer">Reset</button>
    </div>
  </div><!-- short-break-container end -->

  <div id="long-break-container" class="is-hidden">
    <div id="long-break-timer" class="pomodoro-timer-container">
      <%= min_for_displaying @pomodoro_default_settings[:long_break] %>
    </div>
    <div class="text-center">
      <button class="btn btn-success start-pomodoro-break-timer"
              data-min="<%= min_for_timer @pomodoro_default_settings[:long_break] %>"
              data-type="long"
              id="start-pomodoro-long-break-timer">
              Start
      </button>
      <button class="btn btn-warning is-hidden" id="pause-pomodoro-long-break-timer">Pause</button>
      <button class="btn btn-warning is-hidden" id="resume-pomodoro-long-break-timer">Resume</button>
      <button class="btn btn-danger is-hidden" id="destroy-pomodoro-long-break-timer">Reset</button>
    </div>
  </div><!-- long-break-container end -->

</div><!-- jumbotron end -->

<%= audio_tag "you-have-new-message.mp3", id: "finish-alerm", onended: "afterSound()" %>


<script>
// pomodoro timer actions
$("#start-pomodoro-timer").on("click", function() {
  var current_time_in_ms = new Date().getTime();
  $("#pomodoro_start_at").val(current_time_in_ms);
  $('#pomodoro-work-timer').timer({
      countdown: true,
      duration: "<%= min_for_timer @pomodoro_default_settings[:pomodoro_time] %>",
      callback: function() {
        ringSound();
      }
  });
  changeButtonsStateAfterStarted("pomodoro");
});

$("#pause-pomodoro-timer").on("click", function() {
  $("#pomodoro-work-timer").timer("pause");
  changeButtonsStateAfterPaused("pomodoro");
});

$("#resume-pomodoro-timer").on("click", function() {
  $("#pomodoro-work-timer").timer("resume");
  changeButtonsStateAfterResume("pomodoro");
});

$("#destroy-pomodoro-timer").on("click", function() {
  location.reload();
});

// short break
$("#start-pomodoro-short-break-timer").on("click", function() {
  $('#short-break-timer').timer({
      countdown: true,
      duration: "<%= min_for_timer @pomodoro_default_settings[:short_break] %>",
      callback: function() {
        ringSound();
      }
  });
  changeButtonsStateAfterStarted("pomodoro-short-break")
});

$("#pause-pomodoro-short-break-timer").on("click", function() {
  $("#short-break-timer").timer("pause");
  changeButtonsStateAfterPaused("pomodoro-short-break");
});

$("#resume-pomodoro-short-break-timer").on("click", function() {
  $("#short-break-timer").timer("resume");
  changeButtonsStateAfterResume("pomodoro-short-break");
});

$("#destroy-pomodoro-short-break-timer").on("click", function() {
  destroyPomodoroShortbreakTimer();
});

function destroyPomodoroShortbreakTimer() {
  $("#short-break-timer").timer("remove");
  changeButtonsStateAfterDestroy("pomodoro-short-break");
  $("#short-break-timer").text("<%= min_for_displaying @pomodoro_default_settings[:short_break] %>");
}

// long break
$("#start-pomodoro-long-break-timer").on("click", function() {
  $('#long-break-timer').timer({
      countdown: true,
      duration: "<%= min_for_timer @pomodoro_default_settings[:long_break] %>",
      // duration: "3s",
      callback: function() {
        ringSound();
      }
  });
  changeButtonsStateAfterStarted("pomodoro-long-break");
});

$("#pause-pomodoro-long-break-timer").on("click", function() {
  $("#long-break-timer").timer("pause");
  changeButtonsStateAfterPaused("pomodoro-long-break");
});

$("#resume-pomodoro-long-break-timer").on("click", function() {
  $("#long-break-timer").timer("resume");
  changeButtonsStateAfterResume("pomodoro-long-break")
});

$("#destroy-pomodoro-long-break-timer").on("click", function() {
  destroyPomodoroLongbreakTimer();
});

function destroyPomodoroLongbreakTimer() {
  $("#long-break-timer").timer("remove");
  changeButtonsStateAfterDestroy("pomodoro-long-break");
  $("#long-break-timer").text("<%= min_for_displaying @pomodoro_default_settings[:long_break] %>");
}



// short-break-link pomodoro-timer-bar
$("#short-break-link").on("click", function() {
  $("#pomodoro-container").addClass("is-hidden");
  $("#long-break-container").addClass("is-hidden");
  $("#short-break-container").removeClass("is-hidden");

  $("#pomodoro-link").removeClass("active");
  $("#long-break-link").removeClass("active");
  $("#short-break-link").addClass("active");

  // reset pomodoro timer and also break timer
  destroyPomodoroLongbreakTimer();
});

// long-break-link pomodoro-timer-bar
$("#long-break-link").on("click", function() {
  $("#pomodoro-container").addClass("is-hidden");
  $("#short-break-container").addClass("is-hidden");
  $("#long-break-container").removeClass("is-hidden");

  $("#pomodoro-link").removeClass("active");
  $("#long-break-link").addClass("active");
  $("#short-break-link").removeClass("active");

  // reset pomodoro timer and also break timer
  destroyPomodoroShortbreakTimer();
});


function ringSound() {
  $("#finish-alerm").trigger("play");
}

function afterSound() {
  location.reload();
}


function changeButtonsStateAfterStarted(type) {
  $("#start-" + type + "-timer").addClass("is-hidden");
  $("#pause-" + type + "-timer").removeClass("is-hidden");
  $("#destroy-" + type + "-timer").removeClass("is-hidden");
}

function changeButtonsStateAfterPaused(type) {
  $("#pause-" + type + "-timer").addClass("is-hidden");
  $("#resume-" + type + "-timer").removeClass("is-hidden");
}

function changeButtonsStateAfterResume(type) {
  $("#pause-" + type + "-timer").removeClass("is-hidden");
  $("#resume-" + type + "-timer").addClass("is-hidden");
}

function changeButtonsStateAfterDestroy(type) {
  $("#start-" + type + "-timer").removeClass("is-hidden");
  $("#pause-" + type + "-timer").addClass("is-hidden");
  $("#resume-" + type + "-timer").addClass("is-hidden");
  $("#destroy-" + type + "-timer").addClass("is-hidden");
}

</script>
